@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 10%;
  --foreground: 0 0% 98%;
  --card: 0 0% 13%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 13%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.5%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.5%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.5%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: 0 0% 83.9%;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
  touch-action: none;
  -ms-touch-action: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.picker {
  position: relative;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  z-index: 10;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.shiki {
  display: block;
  width: var(--code-block-width);
  overflow:hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  counter-reset: step;
  counter-increment: step 0;
  .line {
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600 content-[counter(step)];
    }
  }
}